@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: 'Carrois Gothic';
  margin: 4rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: 'Carrois Gothic';
}

.btn-light {
  background-color: #FFFFFF;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}