@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: 'Lato';
  margin: 4rem;
}

@media only screen and (max-width: 600px) {
  body {
    margin: .1rem;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* This CSS code will hide the cards with the hidden-on-mobile class on screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .hidden-on-mobile {
    display: none;
  }
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: 'Lato';
}

.btn-light {
  background-color: #FFFFFF;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* CSS to change the cursor to a hand on card hover */
.card-body:hover {
  cursor: pointer;
}
